<!DOCTYPE html>
<html ng-app="topshelf">
<head>
  <meta charset="utf-8">
  <title>Exercice 3</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
</head>
      <body ng-controller="MainCtrl" class="top-navigation">
    <ul>
    <li ng-repeat="data in mydata" ng-if="data.couleur != 'verte'"> {{data.marque}} {{data.couleur}}</li>
    </ul>
      <script src="script.js"></script>
      <!-- <script src="voiture.json"></script> -->
    </body>
    </html>
